<template name="drugDetails">
  <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Drug Name: <a href="{{getDrugBankId}}">{{this.name}}</a></h4>
          <small>Drug created on {{getCreated}} / Drug updated on {{getUpdated}}</small>
        </div>
        <div class="modal-body">
          <div class="detailed-drug-information">

            <div class="header row">
              <div class="col-xs-12">
                <strong>Identification</strong>
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="accession-number col-xs-4">
                Accession Number
              </div>
              <div class="accession-number col-xs-8">
                {{getNumbers.primary}} ({{getNumbers.other}})
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="type col-xs-4">
                Type
              </div>
              <div class="type col-xs-8">
                {{this.type}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="groups col-xs-4">
                Type
              </div>
              <div class="groups col-xs-8">
                {{getGroups}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Description
              </div>
              <div class="manufacturer-name col-xs-8">
                {{this.description}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Manufactured By
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.SponsorApplicant}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Marketing Authorization folder
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.ProductMktStatus}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Active Ingredient
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.activeingred}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Dosage
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.Dosage}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Form
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.Form}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Scientific information
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.Chemical_Type}}
              </div>
            </div>

            {{#if getDetail.DocURL}}
              <div class="row cursor-pointer">
                <div class="manufactured-by col-xs-4">
                  Drug registration
                </div>
                <div class="manufacturer-name col-xs-8">
                  : {{getDetail.DocURL}}
                </div>
              </div>
            {{/if}}

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
