<template name="drugDetails">
  <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Drug Name: Crocin</h4>
        </div>
        <div class="modal-body">
          <div class="detailed-drug-information">
            <div class="row">
              <div class="manufactured-by col-xs-4">
                Manufactured By
              </div>
              <div class="manufacturer-name col-xs-8">
                : gsk
              </div>
            </div>

            <div class="row">
              <div class="manufactured-by col-xs-4">
                Marketing Authorixation folder
              </div>
              <div class="manufacturer-name col-xs-8">
                : Marketing status
              </div>
            </div>

            <div class="row">
              <div class="manufactured-by col-xs-4">
                Active Ingredient
              </div>
              <div class="manufacturer-name col-xs-8">
                : Paracitamol
              </div>
            </div>

            <div class="row">
              <div class="dosage-form col-xs-4">
                Dosage Form
              </div>
              <div class="dosage-form-text col-xs-8">
                : Tablet
              </div>
            </div>

            <div class="row">
              <div class="manufactured-by col-xs-4">
                Dosage Form
              </div>
              <div class="manufacturer-name col-xs-8">
                : Tablet
              </div>
            </div>

            <div class="row">
              <div class="manufactured-by col-xs-4">
                Strength
              </div>
              <div class="manufacturer-name col-xs-8">
                : Strength
              </div>
            </div>

            <div class="row">
              <div class="manufactured-by col-xs-4">
                Scientific information
              </div>
              <div class="manufacturer-name col-xs-8">
                : Product info
              </div>
            </div>

            <div class="row">
              <div class="manufactured-by col-xs-4">
                Drug registration
              </div>
              <div class="manufacturer-name col-xs-8">
                : Link
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
