<template name="drugDetails">
  <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Drug Name: {{getDetail.drugName}}</h4>
        </div>
        <div class="modal-body">
          <div class="detailed-drug-information">

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Manufactured By
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.SponsorApplicant}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Marketing Authorixation folder
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.ProductMktStatus}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Active Ingredient
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.activeingred}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Dosage Form
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.Dosage}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Dosage Form
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.Form}}
              </div>
            </div>

            <div class="row cursor-pointer">
              <div class="manufactured-by col-xs-4">
                Scientific information
              </div>
              <div class="manufacturer-name col-xs-8">
                : {{getDetail.Chemical_Type}}
              </div>
            </div>

            {{#if getDetail.DocURL}}
              <div class="row cursor-pointer">
                <div class="manufactured-by col-xs-4">
                  Drug registration
                </div>
                <div class="manufacturer-name col-xs-8">
                  : {{getDetail.DocURL}}
                </div>
              </div>
            {{/if}}

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
