<template name="suggestionCard">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{console this}}
    <div class="drug-card" data-drug-id="{{this._id}}">
      <div class="row">
        <div class="header-section col-xs-12 p-t-15 p-b-15">
          <span class="drug-name text-left f-s-20">{{this.name}}</span>
          <!--<span class="manufacturer-name pull-right f-s-18">{{getManufacturers this}}</span>-->
        </div>
        <div class="drug-details col-xs-12 p-t-15 p-b-15">
          <div class=" row active-ingredient text-center m-10 f-s-16">
            <i class="glyphicon glyphicon-star col-xs-2"></i>
            <span class="ingredient-text col-xs-10">
              {{this.mixtures.mixture.ingredients}} : {{this.mixtures.mixture.name}}
            </span>
          </div>
          <div class="row strength text-center m-10 f-s-16">
            <i class="glyphicon glyphicon-stats col-xs-2"></i>
            <span class="strength-text col-xs-10">
              {{this.dosages.dosage.strength}}
            </span>
          </div>
          <div class="row dosage-form text-center m-10 f-s-16">
            <i class="glyphicon glyphicon-tint col-xs-2"></i>
            <span class="dosage-text col-xs-10">
                {{this.dosages.dosage.form}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
